.speakBox .editor-container {
    padding-bottom: 10px;
    /* border-bottom: 8px solid var(--twitter-background); */
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 10px;
    max-width: 610px;
    margin-left: 75px;
    
}

.speakBox {
    margin: 0 auto 20px auto;
    max-width: 610px;
    
}

.speakBox .ContentEditable__root {
    min-height: 50px;
}

.toolbar {
    background: inherit !important;
    box-sizing: initial !important;
    padding: 4px 0 4px 0 !important;

}

.divider {
    background: inherit !important;
}

[data-test-id=image-modal-option-sample] {
    display: none;
}

.image-caption-button {
    display: none !important;
}

.add-comment {
    display: none !important;
}

.speak .editor-img {
    width: 100% !important;
}

.speak img {
    max-width: 100% !important;
    width: inherit !important;
    /* height: inherit !important; */
}

.MuiPaper-root {
    overflow: visible !important;
}

select.toolbar-item.font-size{
    padding-left: 0;
}