.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* background-color: grey; */
  font-family: 'Source Code Pro', monospace;
}

.feed {
  margin: 20px auto 20px auto;
  max-width: 610px;

}
/* .speak {
  max-width: 600px;
  
} */